@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    width: 100px;
    padding: 10px 50px;
}

nav a {
    padding: 5px 10px;
    color: #fafafa;
    text-decoration: none;
    border-radius: 15px;
}

nav a:hover {
    background-color: #107bfe;
    padding: 5px 15px;
}

.landing-page {
    background-color: #0171f9;
    color: #fafafa;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.landing-page img {
    width: 250px;
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
    border: none;
    padding: 5px 15px;

}

.landing-page-search input {
    border-radius: 15px;
    border: none;
    height: 30px;
}

.landing-page-search button {
    position: absolute;
    left: 200px;
    height: 30px;

}